        <div class="modal-dialog modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<p class="text-center" th:text="${club_nm} + '      요청사항 '"></p>
        		<pre class="text-center" th:text='${scrim_desc}'></pre>
        		<p class="text-center"><a href="https://open.kakao.com/o/gEjuySrc">오픈톡방</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true" name="susBtn" onclick="">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>