<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/scrimlayout">

<th:block th:insert="layout/layout :: f-header_board"> header </th:block>
<head>
<meta charset="UTF-8">
<title>ENTER - 친선신청 상세내용</title>
</head>
<body>


</body>

<th:block th:insert="layout/layout :: f-footer"> footer </th:block>

</html>