						<th:block th:if="${cnt > 0}">

 							<tr th:each="list:${list}" th:id="scrim_no+${list.scrim_no}">

								<td class="text-center" th:name="${list.scrim_no}" th:text="${list.scrim_no}">1</td>
								<td class="text-center" ><a href="#" th:onclick="'scrimDescView('+${list.scrim_no}+')'" data-toggle="modal" data-target="#sendModal" th:text="${list.club_nm}"></a></td>
								<td class="text-center" th:text="${list.creator}" >바딜</td>
								<td class="text-center" th:if="${list.g_type.equals('Ss')}" >Speed Single</td>
								<td class="text-center" th:if="${list.g_type.equals('St')}" >Speed Team</td>
								<td class="text-center" th:if="${list.g_type.equals('Item')}" >Item Team</td>
								<td class="text-center" th:if="${list.g_type.equals('Arcade')}" >Arcade</td>
								<td class="text-center" th:if="${list.m_type.equals('cat1')}">13전 7선제</td>
								<td class="text-center" th:if="${list.m_type.equals('cat2')}">9전 5선제</td>
								<td class="text-center" th:if="${list.m_type.equals('cat3')}">5전 3선제</td>
								<td class="text-center" th:if="${list.m_type.equals('cat4')}">데스매치 3연승</td>
								<td class="text-center" >
										<a href="#galleryModal" class="gallery-box" data-toggle="modal" th:data-src="'../img_scrim/'+${list.scrim_no}+'/'+${list.sys_file_nm}">
										<img th:src="'../img_scrim/'+${list.scrim_no}+'/'+${list.sys_file_nm}" class="img-responsive" alt="Image 1">
										   <div class="gallery-box-caption">
					                            <div class="gallery-box-content">
					                                <div>
					                                    <i class="icon-lg ion-ios-search" style="font-size: 40px;"></i>
					                                </div>
					                            </div>
				                           </div>
			                            </a>
								</td>
								<td class="text-center" th:text="${#temporals.format(list.bgn_dt,'yyyy-MM-dd HH:mm')}">2020-12-02 22:00</td>
								<td class="text-center">
										<button type="button" class="btn bg-dark scrim_delete" name="scrim_delete" ><i class="ion-android-delete"></i></button>
                                </td>
							</tr>

							<tr>
							   <td colspan="8" class="text-center"  th:if="${cnt > 0}">
									<nav aria-labe="Page navigation" class="pagenate-wrap mt30">
										<div class="page-info">
											<div class="total">
												Total : <span th:text="${pagination.totalRecordCount}"> </span>  Page : <span><strong th:text="${pagination.currentPageNo}" class="text-primary"></strong> / <th:block th:text="${pagination.totalPageCount}"></th:block></span>
											</div>
											<div class="page">
										<ul class="pagination justify-content-center" th:utext="${#enterUtils.drawPagination(pagination,#httpServletRequest.getContextPath(),'fnSearch')}">
										</ul>
											</div>
										</div>
									</nav>

								</td>
							</tr>

							</th:block>