        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<p class="text-center" th:text='${nickname} + 님'></p>
        		<p class="text-center" >가입신청 처리가 완료되었습니다.</p>
        		<p class="text-center"><a href="https://open.kakao.com/o/gEjuySrc">오픈톡방</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true" name="susBtn" onclick="location.href='/'">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>